/* common shared styles */
* {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

/* Header part design */
.banner-part {
    padding: 1045px, 50px, 0px, 240px;
    flex-shrink: 0px;
    align-items: center;
    justify-content: space-around;
    display: flex;
    background: rgba(229, 84, 115, 0.10);
}

.banner-content {
    padding: 1920px, 850px;
    align-items: center;
}

.intro-text {

    color: #272727;
    font-family: Lato;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;

}

.description-text {
    display: flex;
    width: 634px;
    flex-direction: column;
    flex-shrink: 0;
    align-items: center;

    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;

    font-weight: 400;
    line-height: 30px;
}

.primary-btn,
text {
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: inline-flex;
    padding: 20px 43px;
    /* align-items: flex-start; */
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
}

.banner-img img {
    align-items: center;
    width: 635px;
    height: 800px;
    flex-shrink: 0;
    padding: 50px, 0px;


}

/* main section style */

/* .feature-part{
    justify-content: center;
} */

.feature-text {
    text-align: center;
}

.feature-line {
    margin-top: 250px;
    margin-bottom: 24px;
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.feature-text,
p {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* padding-bottom: 48px; */
}

.feature-images {

    display: flex;
    justify-content: center;
    align-items: center;
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}

.pink-img {
    padding: 110px 78px 0px 76px;
    padding-bottom: 0px;
    width: 310px;
    height: 428px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}

.red-img {
    /* align-content: center; */
    /* padding-top: 35px;
    padding-bottom: 55px; */
    padding: 110px 47px 51px 47px;
    margin-left: 24px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}

.yellow-img {
    margin-left: 24px;
    padding: 67px 75px 0px 75px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    width: 314px;
    height: 471px;
    flex-shrink: 0;
}

/* facility part styles */

.facility-part {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    /* margin-top: 150px; */
    margin: 150px 240px 150px 240px;
    padding-top: 85px;
    width: 1440px;
    height: 320px;
    flex-shrink: 0;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
}

.facility {
    text-align: center;
    justify-content: space-evenly;
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 35px;
}

/* deal section styles */

.deal-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 100px 100px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
}

.deal-content {
    text-align: center;
    /* padding-right: 300px; */
}

.deal-content h3 {
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.deal-content p {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.deal-content button {
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;

    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* instagram part styles */
.insta-text h3 {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.insta-images {
    margin: 0px 12px;
    display: flex;
    justify-content: center;
}

.insta-images img {
    margin: 0px 12px;
}

/* contact part styles */
.Contact-part {
    padding: 120px 0px;
    height: 100%;
    background-position: center;
    margin: 128px 0;
    text-align: center;
    background-image: url('/images/Rectangle\ 9.png');
    background-repeat: no-repeat;

}

#email-input {
    padding-left: 22px;
    width: 700px;
    height: 60px;
    border-radius: 8px;
    background: #FFF;
    border-color: white;
}

.Contact-part button {
    width: 150px;
    height: 64px;
    color: white;
    border-radius: 8px;
    background: #E55473;
    border-color: #E55473;
}

/* review section design */
.review-section {
    display: flex;
    justify-content: center;
    text-align: center;
    background-image: url('/images/review.png');
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 50px;
    padding: 50px 50px;
}

.review-section h3 {
    color: #feffff;
    font-size: 32px;
    padding-top: 45px;
}

.review-section p {
    color: rgb(189, 189, 58);
}


/* footer section styles */

footer {
    text-align: center;
    background: rgba(71, 125, 17, 0.15);
    padding: 100px 110px;
    /* width: 100%; */


}

footer span {
    color: #E55473;
}

footer h3 {

    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}